---
http_interactions:
- request:
    method: post
    uri: https://aps.fidor.de/customers
    body:
      encoding: UTF-8
      string: '{"id":null,"customer_number":null,"email":null,"first_name":"Walther","last_name":"White","gender":"m","title":"1","nick":null,"maiden_name":null,"adr_street":"Negra Arroyo Lane","adr_street_number":"308","adr_post_code":"87111","adr_city":"Albuquerque","adr_country":"US","adr_phone":null,"adr_mobile":null,"adr_fax":null,"adr_businessphone":null,"birthday":"1957-09-07","is_verified":null,"nationality":"US","marital_status":1,"religion":null,"id_card_registration_city":null,"id_card_number":null,"id_card_valid_until":null,"created_at":null,"updated_at":null,"creditor_identifier":null,"affiliate_uid":"1398b666-6666-6666-6666-666666666666","verification_token":null,"password":null,"tos":true,"privacy_policy":true,"own_interest":true,"us_citizen":true,"us_tax_payer":true,"preferred_language":null,"community_user_picture":null,"country_of_birth":null,"additional_first_name":"Heisenberg"}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Bearer f859032a6ca0a4abb2be0583b8347937
  response:
    status:
      code: 422
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"code":422,"errors":[{"field":"preferred_language","message":"is invalid","key":"invalid"},{"field":"nick","message":"can''t
        be blank","key":"blank"},{"field":"country_of_birth","message":"can''t be
        blank","key":"blank"}],"message":"Validation failed","key":["validation_failed"]}'
  recorded_at: Thu, 04 Aug 2016 12:09:44 GMT
recorded_with: VCR 2.9.3
