---
http_interactions:
- request:
    method: post
    uri: https://aps.fidor.de/transfers
    body:
      encoding: UTF-8
      string: '{"account_id":"29208706","external_uid":"4279762F8","amount":1000,"currency":"AED","subject":"Money
        for you","beneficiary":{"contact":{"name":"John Doe"},"routing_type":"UAE_DOMESTIC","routing_info":{"account_number":"AE070331234567890123456","swift_code":"ARABAEADSHJ"}}}'
    headers:
      Authorization:
      - Bearer 0816d2665999fbd76a69c6f0050a49fa
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      x-fidor-confirmation-path:
      - "/fidor_api/confirmable/actions/15"
      x-ratelimit-limit:
      - '60'
      x-ratelimit-remaining:
      - '57'
      x-ratelimit-reset:
      - '776'
    body:
      encoding: UTF-8
      string: '{"account_id":"29208706","external_uid":"4279762F8","amount":1000,"currency":"AED","subject":"Money
        for you","beneficiary":{"contact":{"name":"John Doe"},"routing_type":"UAE_DOMESTIC","routing_info":{"account_number":"AE070331234567890123456","swift_code":"ARABAEADSHJ"}}}'
  recorded_at: Tue, 28 Jun 2016 12:32:05 GMT
recorded_with: VCR 2.9.3
