---
http_interactions:
- request:
    method: post
    uri: https://aps.fidor.de/pending_transfers/42af0f631dd47190680fb7d532be9af4/transfer
    body:
      encoding: UTF-8
      string: '{"account_id":"29208706","external_uid":"4279762F8","amount":1000,"currency":"AED","subject":"Money
        for you","beneficiary":{"unique_name":"Johnny Doe","contact":{"name":"John
        Doe","address_line_1":"Street 123"},"bank":{"name":"Bank Name","address_line_1":"Street
        456"},"routing_type":"UAE_DOMESTIC","routing_info":{"account_number":"AE070331234567890123456","swift_code":"ARABAEADSHJ"}}}'
    headers:
      Content-Type:
      - application/json
      Authorization:
      - Basic aHRhdXRoLXVzZXI6aHRhdXRoLXBhc3N3b3Jk
  response:
    status:
      code: 201
      message:
    headers:
      content-type:
      - application/json; charset=utf-8
      x-miniprofiler-ids:
      - '["2z6embjrd9ykimqr95q8","qitlrg7i9lnrx0duyfoc","5p8apdcpzk6xnsma7bl","s8sr0ci4isrd2uyhlkh5","tnv74chalowe0xp34t5l","gp7rvk3iy1epxpvp7j00","7gse82e780tq8x91lih8","qigtfkk49eitavdj0gug","e5sj8f50dbqksr4icy46","ea1g0waloegcsgzoitew"]'
    body:
      encoding: UTF-8
      string: '{"id":"2017ed94-ce25-4fae-a5bd-e4c92ab7b0e3","account_id":"29208706","amount":1,"currency":"AED","subject":"Money
        for you","state":"pending_backoffice_transfer","beneficiary":{"contact":{"name":"John
        Doe","address_line_1":"Street 123","address_line_2":null,"city":null,"country":null},"bank":{"name":"Bank
        Name","address_line_1":"Street 456","address_line_2":null,"city":null,"country":null},"routing_type":"UAE_DOMESTIC","routing_info":{"account_number":"AE070331234567890123456","swift_code":"ARABAEADSHJ"}},"created_at":"2016-09-05T06:47:04Z","updated_at":"2016-09-05T06:47:04Z"}'
  recorded_at: Mon, 05 Sep 2016 06:47:04 GMT
recorded_with: VCR 2.9.3
