---
http_interactions:
- request:
    method: get
    uri: https://aps.fidor.de/bonuses
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 6d5c4491a0498630516269096e9a136e
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Location:
      - https://aps.fidor.de/bonuses
      Content-Type:
      - application/json; charset=utf-8
      X-Ratelimit-Limit:
      - '60'
      X-Ratelimit-Remaining:
      - '59'
      X-Ratelimit-Reset:
      - '551'
      X-Miniprofiler-Ids:
      - '["xsx3ft35h39idtyux64p","817jes94qtt1lmns0kob","ittih6gun2bmzs6t8rw9","bp7ju5js0iz2afjx4fuc","iqdot1cru3tnboj681iw","jsyuta4o5zspx7u0up23","az3ka9v8elzi49idpa5i","w5sasopdytq8k8b4a7dr","gigx1m28e6mj2ntryyrp","1pqhfir3dsqzbapc95qr","ywgyc8tysr1l5zsaarjz","vodxnzj58dr9zgcb3f0z","x1ecvhbx4fg2gj1at2hn","sdjqy5qvwini9peskjqz","sx1qdnixl4xp8vztumt3","ovvztnkm2654jwa5vihk","j4slloze0n6wo7vm10te","bor8m5ixz086ysjfgk50","e9ulo7jz10oex2amndfj","r6im9ridh3zwssne285s"]'
    body:
      encoding: UTF-8
      string: '{"data":[{"name":"recommendation","category":"Bonusprogramm","maximum_events_per_month":null,"current_amount_per_event":2000,"granted_events":0,"granted_amount":0,"pending_events":0,"pending_amount":0},{"name":"transaction_tan","category":"Bonusprogramm","maximum_events_per_month":null,"current_amount_per_event":1,"granted_events":0,"granted_amount":0,"pending_events":0,"pending_amount":0},{"name":"monthly_payment","category":"Bonusprogramm","maximum_events_per_month":1,"current_amount_per_event":500,"granted_events":0,"granted_amount":0,"pending_events":0,"pending_amount":0},{"name":"friends","category":"Bonusprogramm","maximum_events_per_month":null,"current_amount_per_event":0,"granted_e[...]
