---
http_interactions:
- request:
    method: get
    uri: https://aps.fidor.de/in_app_communications
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer f859032a6ca0a4abb2be0583b8347937
  response:
    status:
      code: 200
      message:
    headers:
      status:
      - 200 OK
      x-limit:
      - '50'
      x-offset:
      - '0'
      x-total:
      - '30'
      content-type:
      - application/json; charset=utf-8
      etag:
      - '"5c73b29f8974d1186277065be660e464"'
    body:
      encoding: UTF-8
      string: '{"data":[{"id":"28170","active":true,"title":"title","body":"body","description":"description","link_url":"https://external_link","link_external":true,"background_image_url":"https://background_image_url","platform":"all","expiration_date":"2015-08-26T15:43:30Z","created_at":"2015-08-26T15:43:30Z","updated_at":"2015-08-26T15:43:30Z"}],"collection":{"total_pages":1,"per_page":1000,"current_page":1}}'
  recorded_at: Sun, 30 Aug 2015 19:47:25 GMT
recorded_with: VCR 2.9.3
