---
http_interactions:
- request:
    method: post
    uri: https://aps.fidor.de/oauth/token
    body:
      encoding: UTF-8
      string: grant_type=client_credentials
    headers:
      Authorization:
      - Basic Y2xpZW50LWlkOmNsaWVudC1zZWNyZXQ=
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"access_token":"f859032a6ca0a4abb2be0583b8347937","expires_in":3600,"token_type":"Bearer","refresh_token":"3aade158786fa445117f966d830c95cc"}'
  recorded_at: Mon, 21 Aug 2017 18:14:31 GMT
recorded_with: VCR 3.0.3
