---
http_interactions:
- request:
    method: get
    uri: https://aps.fidor.de/transfers/13a414ce-1560-43e7-870f-c43829b9d589
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer 0816d2665999fbd76a69c6f0050a49fa
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Status:
      - 201 Created
      Content-Type:
      - application/json; charset=utf-8
    body:
    body:
      encoding: UTF-8
      string: '{"id":"13a414ce-1560-43e7-870f-c43829b9d589","account_id":"29208706","amount":1000,"currency":"USD","subject":"Money
        for you","state":"created","beneficiary":{"contact":{"name":null,"address_line_1":null,"address_line_2":null,"city":null,"country":null},"bank":{"name":null,"address_line_1":null,"address_line_2":null,"city":null,"country":null},"routing_type":"UTILITY","routing_info":{"utility_provider":"Utility
        Provider","utility_service":"Utility Service","utility_service_number":"12345678","inquiry_ref_num":"534Z2qoa1qig46d4"}},"created_at":"2017-01-17T14:47:38Z","updated_at":"2017-01-17T14:47:38Z","external_uid":"4279762D9","beneficiary_id":null,"additional_attributes":null}'
  recorded_at: Mon, 06 Mar 2017 13:47:35 GMT
recorded_with: VCR 3.0.3
